#black{background-color: black;

}
#texto{
    color: aliceblue;
}


#blue{
    background-color: #4169E1;
}

#texto2{
    color: aliceblue;
}

#green{
    background-color: #2E8B57;
}

#texto3{
    color: aliceblue;
}